[Desktop Entry]
Name=Mark's Time Tracker
Name[bg]=Mark's Time Tracker
Name[de]=Mark's Time Tracker
Name[el]=Mark's Time Tracker
Name[en_GB]=Mark's Time Tracker
Name[eo]=Mark's Time Tracker
Name[es]=Mark's Time Tracker
Name[et]=Mark's Time Tracker
Name[fi]=Mark's Time Tracker
Name[fr]=Mark's Time Trackere
Name[gl]=Encanto
Name[ja]=Mark's Time Tracker
Name[km]=Mark's Time Tracker
Name[nds]=Mark's Time Tracker
Name[pt]=Mark's Time Tracker
Name[pt_BR]=Mark's Time Tracker
Name[sv]=Mark's Time Tracker
Name[tr]=Mark's Time Tracker
GenericName=Time Tracker
GenericName[bg]=Замерване на време
GenericName[de]=Zeiterfassung
GenericName[el]=Καταγραφέας χρόνου
GenericName[en_GB]=Time Tracker
GenericName[es]=Administrador de tiempo
GenericName[et]=Ajaarvestus
GenericName[fi]=Ajanseuranta
GenericName[fr]=Outil de suivi du temps
GenericName[gl]=Administrador do tempo
GenericName[ja]=タイムトラッカー
GenericName[km]=កម្មវិធី​តាមដាន​ពេលវេលា
GenericName[nds]=Tietkieker
GenericName[pt]=Gestor de Tempo
GenericName[pt_BR]=Registro de tempo
GenericName[sv]=Tidmätning
GenericName[tr]=Zaman İzleyici
GenericName[uk]=Інструмент стеження за часом
Exec=markstimetracker
Icon=cat
Type=Application
Categories=Qt;KDE;Utility;
X-KDE-StartupNotify=true
